@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de alteração de password";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua password foi alterada com sucesso. Por favor <a asp-page="./Login">click aqui para fazer log in</a>.
</p>
