@page "/equipa"


<div class="contentmain">
    <section>
        <div class="container">
            <h1 class="heading"> A equipa </h1>
            <div class="card_wrapper">
                <div class="card">
                    <img src="images/about_bg/daniel.png" alt="card background" class="card_img">
                    <img src="images/about_pic/daniel.png" alt="card background" class="profile_img">
                    <h1> Daniel Costa </h1>
                    <p class="role"> Front-end Developer <br />  Back-end Developer </p>
                    <ul class="social_media_p">
                        <li><a href="https://www.facebook.com/lets.edutech"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Lets94689306"><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/daniel-costa-00405754/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="images/about_bg/elaine.png" alt="card background" class="card_img">
                    <img src="images/about_pic/elaine.png" alt="card background" class="profile_img">
                    <h1> Elaine Mendonça </h1>
                    <p class="role"> Front-end Developer <br />  Back-end Developer </p>
                    <ul class="social_media_p">
                        <li><a href="https://www.facebook.com/lets.edutech"><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-envelope"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/elaine-mendon%C3%A7a-developer/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="images/about_bg/johnny.png" alt="card background" class="card_img">
                    <img src="images/about_pic/johnny.png" alt="card background" class="profile_img">
                    <h1> João Gonçalves </h1>
                    <p class="role">  Front-end Developer <br /> Lead Designer </p>
                    <ul class="social_media_p">
                        <li><a href="https://www.facebook.com/lets.edutech"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Lets94689306"><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/johnnylinked/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="images/about_bg/tomas.png" alt="card background" class="card_img">
                    <img src="images/about_pic/tomas.png" alt="card background" class="profile_img">
                    <h1> Tomás Santos </h1>
                    <p class="role">  Front-end Developer <br />  Back-end Developer</p>
                    <ul class="social_media_p">
                        <li><a href="https://www.facebook.com/lets.edutech"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Lets94689306"><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/tom%C3%A1s-afonso-santos-710b721b2/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="images/about_bg/vera.png" alt="card background" class="card_img">
                    <img src="images/about_pic/vera.png" alt="card background" class="profile_img">
                    <h1> Vera Santos </h1>
                    <p class="role">  Product Owner <br /> Front-end / Back-end Developer </p>
                    <ul class="social_media_p">
                        <li><a href="https://www.facebook.com/lets.edutech"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/Lets94689306"><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/vera-santos-008917204/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <br />

</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .contentmain {
        background-color: white;
        padding: 0% 0%;
    }

    a {
        text-decoration: none;
        color: azure;
    }

    section {
        margin: 0;
        padding:0;
        background-color: white;
    }


    .contentmain {
        background-color: white;
        padding: 0% 10%;
    }

    .heading {
        font-size: 3.5rem;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 5rem;
        color: black;
        position:relative;
    }

    .heading::after {
        content: '';
        width: 10rem;
        height: .8rem;
        background-color: #37B187;
        position: absolute;
        bottom: -2rem;
        left:50%;
        transform:translateX(-50%);
        border-radius: 2rem;
    }

    .card_wrapper{
        display:flex;
        align-items:center;
        align-content:center;
        flex-direction: column;
    }

    .card {
        width: 20rem;
        background-color: #37B187;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        box-shadow: 2px .8rem 1rem rgba(0, 0,0, 0.5);
        transition: transform 0.4s;
    }
    .card:hover {
        transform: scale(1.04);
    }
    /*.card:hover .profile_img {
        transform: scale(1.1);
    }*/

    .card_img {
        width: 100%;
        height: 20rem;
        object-fit: cover;/*
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 75%, 0% 75%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 75%, 0% 75%);*/
    }

    .profile_img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 50%;
        margin-top: -10rem;
        z-index: 0;
        border: 0.5rem solid white;
        transition: transform 1s;
    }    

    .card h1{
        font-size: 1.5rem;
        color: white;
        border: thin;
        margin:2rem 0;
    }

    .role {
        color: black;
        font-size:1rem;
        font-weight: 600;
    }

    .about {
        color: black;
        font-size: 1.5rem;
        font-style: italic;
        text-align:center;
    }

    .social_media_p {
        width:100%;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
        border-top: 1px solid rgba(0,0,0,0.1)
    }

        .social_media_p li {
            display: inline-block;
            margin: 1%;
            margin-right: 0;
            list-style: none;
            margin: 0 0px;
        }

        .social_media_p li .fa {
            color: #000000;
            font-size: 20px;
            line-height: 40px;
            transition: .5s;
        }

        .social_media_p li:hover .fa {
            color: #ffffff;
        }

            .social_media_p li a {
                position: relative;
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #37B187;
                text-align: center;
                transition: 0.5s;
                transform: translate(0,0px);
                box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
            }

            .social_media_p li a:hover {
                transform: rotate(0deg) skew(0deg) translate(0, -10px);
            }

        .social_media_p li:nth-child(1) a:hover {
            background-color: #3b5999;
        }

        .social_media_p li:nth-child(2) a:hover {
            background-color: #55acee;
        }

        .social_media_p li:nth-child(3) a:hover {
            background-color: #e4405f;
        }

      /*  .social_media_p li:nth-child(4) a:hover {
            background-color: #cd201f;
        }*/

        .social_media_p li:nth-child(4) a:hover {
            background-color: #0077B5;
        }

        @@media screen and (min-width: 600px) {
            .card_wrapper {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center
            }

            .card {
                margin: 1rem;
                transition: transform .5s;
            }
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .card:nth-child(1) {
            animation: fadeIn .5s .5s backwards;
        }

        .card:nth-child(2) {
            animation: fadeIn .5s 1s backwards;
        }

        .card:nth-child(3) {
            animation: fadeIn .5s 1.5s backwards;
        }

        .card:nth-child(4) {
            animation: fadeIn .5s 2s backwards;
        }

        .card:nth-child(5) {
            animation: fadeIn .5s 2.5s backwards;
        }


</style>


