@page "/cookies"

    <section class="section header-text-center">
        <div class="section-content">
            <h1>Utilização de Cookies por parte da LETS </h1>
            <p class="typography-intro large-8 medium-10 small-12 center">

            </p>
        </div>
    </section>
    <section class="section section-keyline">
        <div class="section-content">
            <div class="large-10 large-offset-1 small-offset-0 small-12 keyline keyline-top-all"></div>
        </div>
    </section>

    <div class="section-content">
        <div class="row top-padding bottom-padding large-10 large-offset-1 small-12 small-offset-0">
            <p>
                Os websites e serviços online da LETS podem utilizar "cookies".
                Os cookies permitem aos utilizadores utilizar perfis de utilizador e personalizar a respetiva experiência nos nossos sites, comunicar-nos que partes dos nossos websites as pessoas visitaram, ajudar-nos a avaliar a eficácia dos anúncios e pesquisas na Internet e fornecer-nos informações relativas ao comportamento dos utilizadores para podermos melhorar as nossas comunicações e produtos.
            </p>
            @*<p>
                    Como desactivar cookies
                </p>*@
            <p> Uma vez que os cookies são usados em todos os nossos websites, a sua desativação poderá impedir a utilização de determinadas partes dos mesmos.</p>
            <p> Os cookies utilizados nos nossos websites foram categorizados com base nas diretrizes do guia ICC UK Cookie. Seguem-se as categorias utilizadas nos nossos websites e noutros serviços online:</p>
            <h3 class="typography-subsection-headline"> Categoria 1 — Cookies estritamente necessários </h3>
            <p>
                Estes cookies são essenciais para permitir a navegação nos nossos websites e a utilização das respetivas funcionalidades.
                Sem estes cookies, não é possível prestar serviços de cestos de compras e de faturação eletrónica.
            </p>
            <h3 class="typography-subsection-headline"> Categoria 2 — Cookies de desempenho </h3>
            <p>
                Estes cookies recolhem informações sobre a utilização dos nossos websites por parte do Cliente, como por exemplo, as páginas mais visitadas.
                Estes dados podem ser utilizados para ajudar a otimizar os nossos websites e facilitar a navegação nos mesmos.
                Estes cookies também são utilizados para informar as nossas afiliadas sobre se o Cliente chegou a um dos nossos websites através de uma afiliada e se a visita resultou na utilização ou aquisição de um dos nossos produtos ou serviços, incluindo os detalhes do produto ou serviço adquirido.
                Estes cookies não recolhem informações de identificação pessoal. Todas as informações recolhidas por estes cookies são agregadas e, como tal, são anónimas.
            </p>
            <h3 class="typography-subsection-headline"> Categoria 3 — Cookies de funcionalidade</h3>
            <p>
                Estes cookies permitem aos nossos websites memorizar as opções efetuadas pelo Cliente durante a navegação.
                Por exemplo, podemos armazenar a localização geográfica num cookie para assegurar que apresentamos o nosso website no idioma da região do Cliente.
                Também podemos memorizar preferências como o tamanho e tipo de letra do texto, entre outros elementos personalizáveis do site.
                Também podem ser utilizados para manter um registo dos produtos ou vídeos visualizados para evitar repetições.
                As informações recolhidas por estes cookies não identificam pessoalmente o Cliente e não conseguem monitorizar a atividade de navegação nos websites que não sejam da LETS.
            </p>
        </div>
    </div>

    <style>

        .contentmain {
            background-color: white;
            padding: 0% 10%;
        }

    </style>

