@using Faso.Blazor.SpinKit
@using BlazorLets.Client.Shared.Services

@inject SpinnerService SpinnerService 

@if (IsVisible)
{
    <div class="spinner-container">
        <SpinKitCircle />
    </div>
}

<style>
    .spinner-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        top: 50%;
        left: 50%;
        color: #37B187;
    }
</style>

@code {
    protected bool IsVisible { get; set; }

    protected override void OnInitialized()
    {
        SpinnerService.OnShow += ShowSpinner;
        SpinnerService.OnHide += HideSpinner;
    }

    public void ShowSpinner()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void HideSpinner()
    {
        IsVisible = false;
        StateHasChanged();
    }
}